/*火狐滚动条设置*/

@-moz-document url-prefix(http: //),
url-prefix(https: //) {
/* 隐藏上下箭头 */

scrollbarbutton {
    display: none !important;
}

/* 纵向滚动条宽度 */

scrollbar[orient="vertical"] {
    max-height: 0;
}

}

html {
    background: #f8f7f2;
}

body {
    font-family: "微软雅黑";
    color: #666666;
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
}

b, em, i {
    font-weight: normal;
    font-style: normal;
}

ul, dl, dd, dt, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, b {
    font-size: 100%;
    font-weight: 500;
}

h2 {
    display: block;
}

.row {
    display: block;
    white-space: nowrap;
}

.hide {
    display: none;
}

.helpList {
    font-size: 1rem;
    /*padding: 3.66rem 0;*/
    color: #333;
}

.helpList li {
    padding-bottom: 1rem;
}

.helpList h1 {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.helpList p, .helpList dd {
    text-indent: 1.2rem;
}

.helpList dl {
    padding-bottom: 0.6rem;
}

.helpList dt {
    font-size: 1.4rem;
    line-height: 2rem;
}

.mainCon {
    margin: .8rem 1.2rem 0;
    padding-bottom: 0.8rem;
}

.helpTable {
    width: 100%;
    line-height: 2.66rem;
    font-size: 1.2rem;
}

.helpTable th {
    text-align: center;
    background: #e7e1d9;
    color: #666;
    border: 1px solid #ccc;
}

.helpTable td {
    text-align: center;
    color: #999;
    border: 1px solid #ccc;
}

.d11Help {
    color: #999;
}

.d11Help .helpList {
    font-size: 1rem;
    padding: 0 0 0.2rem 0;
}

.d11Help .helpList li {
    line-height: 1.66rem;
    padding-bottom: 0;
}

.d11Help .helpList strong {
    color: #666;
    font-size: 1.2rem;
}

.d11Help .helpTable td {
    background: #fff;
}

.d11Help .helpTable td em {
    color: #ba2636;
}

.kuai3Help {
    color: #cae6d2;
}

.kuai3Help .helpList {
    font-size: 1rem;
    padding: 0 0 0.2rem 0;
}

.kuai3Help .helpList li {
    line-height: 1.66rem;
    padding-bottom: 0.5rem;
}

.kuai3Help .helpList strong {
    color: #fff;
    font-size: 1.2rem;
}

.kuai3Help .helpTable th {
    background: #207e4e;
    border-color: #5ea27f;
    color: #fff;
}

.kuai3Help .helpTable td {
    background: #207e4e;
    border-color: #5ea27f;
    line-height: 1.5rem;
    color: #cae6d2;
    padding: 0.6rem 0;
}

.kuai3Help .helpTable td em {
    color: #ffde00;
}

.kuai3Help .awardText {
    color: #ffde00;
}

.sscHelp {
    color: #999;
}

.sscHelp .helpList {
    font-size: 1rem;
    padding: 0 0 0.2rem 0;
}

.sscHelp .helpList li {
    line-height: 1.66rem;
    padding-bottom: 0;
}

.sscHelp .helpList strong {
    color: #666;
    font-size: 1.2rem;
}

.sscHelp .helpTable td {
    background: #fff;
    line-height: 1.8rem;
    padding: 0.6rem 0;
}

.sscHelp .helpTable td em {
    color: #ba2636;
}

.awardText {
    float: right;
    color: #db122e;
}

/*轮播*/

#lunbo img {
    width: 100%;
    margin-top: 3.66rem;
}

.inner {
    color: #333333;
}

.inner-list {
    padding: 1rem;
    box-sizing: border-box;
}

.inner-list>li>h1 {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 500;
}

.inner-list>li>h2 {
    font-size: 1.1rem;
    font-weight: 500;
    text-indent: 1rem;
}

.inner-list>li>p {
    font-size: 1rem;
    text-indent: 1rem;
    line-height: 1.5rem;
}
