/*公共样式开始*/

@media screen and (min-width: 240px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 9px;
    }
}

@media screen and (min-width: 320px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 12px;
    }
}

@media screen and (min-width: 374px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 14px;
    }
}

@media screen and (min-width: 400px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 15px;
    }
}

@media screen and (min-width: 413px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 15.5px;
    }
}

@media screen and (min-width: 426px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 16px;
    }
}

@media screen and (min-width: 450px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 18px;
    }
}

@media screen and (min-width: 480px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 18px;
    }
}

@media screen and (min-width: 540px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 20.25px;
    }
}

@media screen and (min-width: 590px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 22.13px;
    }
}

@media screen and (min-width: 600px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 22.5px;
    }
}

@media screen and (min-width: 640px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 24px;
    }
}

@media screen and (min-width: 720px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 27px;
    }
}

@media screen and (min-width: 800px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 30px;
    }
}
