$colors: #78d6d5, #14b2ba, #16d212;
$colorsValue: 'ba142b', '14b2ba', '16d212';
$colorsValue_one: #d53a3e, #14b2ba, #28d325;
$colorsValue_two: #fbe8e8, #a6f2f6, #fff;
$colorsValue_three: #ff0000, #006ff9, #28d325;
$colorsValue_four: #cc1e36, #006ff9, #28d325;
$colorsValue_five: #E34020, #006ff9, #4ce24a;
$colorsValue_six: #ec0909, #006ff9, #28d325;
$colorsValue_seven: #88081a, #006ff9, #28d325;

$header_color:#1E396F,#3892c3,'';
$rt_color:linear-gradient(90deg,#ff4b3e,#fb2351),rgba(255,255,255,.5),'';
$bg_png: #fff,url(../../../static/images/bg1.30374fb.jpg),'';

$ht_color:#f2f2f2,rgba(255,255,255,.5),''; //灰白
$bt_color:#fff,rgba(255,255,255,.5),'';

$hb_color:#f2f2f2,#fff,'';

$hl_color:#78d6d5,#3692c4,'';

$ht_bg: #f0eff5,transparent,'';

$bl_bg:#fff,#3892c3,'';

$of_color: #000,#fff,'';
$gf_color: gray,#fff,'';
$color2:#555,#fff,'';
$color3:#fc2d4c,#fff,'';
$color4:#ff5b5a,#2685c0!important,'';

