@charset "UTF-8";
[v-cloak] {
    display: none;
}

/*通用样式*/

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
input {
    margin: 0;
    padding: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "微软雅黑"
}

li {
    list-style-type: none;
}

img {
    border: 0;
    vertical-align: middle;
}

body {
    background: #f5f8fa
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 14px;
}

html,
body {
    font-size: 62.5%;
    background-color: rgb(246, 246, 246)
}

/*彩票资讯-页头*/

header .header-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 5.1rem;
    background: rgb(217, 29, 55);
    color: rgb(255, 255, 255);
}

.header-information a:first-child,
a:last-child {
    font-size: 1.8rem;
}

.header-information h1:nth-child(2) {
    font-size: 2.5rem;
}

/*彩票资讯-滚动导航*/

nav {
    border-bottom: 1px solid rgb(250, 0, 0);
    position: relative;
}

nav .nav-content {
    position: relative;
    z-index: 100;
    background-color: rgb(255, 255, 255);
}

.nav-content li {
    cursor: pointer;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.nav-content a {
    display: block;
    font-size: 1.8rem;
    color: rgb(135, 135, 135);
}

.nav-content .headline {
    font-size: 2.5rem;
    color: rgb(209, 99, 114);
}

/*彩票资讯-导航按钮*/

.open-button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 4rem;
    height: 100%;
    z-index: 1000;
    cursor: pointer;
}

.open-color {
    background: rgb(255, 255, 255);
}

.belowBefault {
    position: absolute;
    right: 1.2rem;
    top: 35%;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 0.3rem solid rgb(187, 187, 187);
    border-width: 0 .3rem .3rem 0;
}

.belowBefault {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.belowUp {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

/*彩票资讯-显示的导航模态面*/

/*我的频道*/

.open-box {
    display: none;
    position: absolute;
    top: 5.1rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
}

.open-box .channel-title-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 5rem;
    font-size: 1.5rem;
    background-color: rgb(250, 246, 247);
}

.open-box .channel-title-box p {
    color: rgb(86, 86, 86);
}

.open-box .sprt-delete {
    padding: 0.3rem 0.4rem;
    margin: 0 1rem;
    color: rgb(217, 29, 55);
    border: 1px solid rgb(217, 29, 55);
    border-radius: 3px;
    line-height: 1;
}

/*频道内容*/

.channel-content ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.channel-content ul li {
    flex: 20%;
}

/************ 建议全用flex 纯为最后一个样式定死不利于布局****************/

.channel-content ul:last-child {
    justify-content: flex-start;
}

.channel-content ul li:last-child {
    flex: 0 0 22%;
}

/****************************/

.item {
    position: relative;
    margin: 0.5rem 0.4rem;
    line-height: 4rem;
    border: 1px solid #999;
    border-radius: 3px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
}

.Sc {
    border: 0;
    color: rgb(217, 29, 55);
}

.add-channel p:first-child {
    height: 4rem;
    line-height: 4rem;
    padding-left: 1.5rem;
    color: rgb(86, 86, 86);
    font-size: 1.8rem;
}

.add {
    background: rgb(231, 231, 231);
    border-color: rgb(217, 217, 215);
    border-width: 1px 0;
    border-style: solid;
}

/*彩票资讯-轮播*/

.lottery-Carousel a {
    display: block;
    width: 100%;
}

.lottery-Carousel a img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*app链接*/

.app-link {
    padding: 5px 0 20px 10px;
}

.app-link span:nth-child(2) {
    margin-left: 10px;
}

.app-link .app-link-text {
    font-size: 1.5rem;
}

.app-link .app-link-ptext {
    font-size: 1.2rem;
    color: rgb(209, 209, 209);
}

.na-commonality {
    padding: 1rem;
}

/*彩市头条 \\ 网易独家 \\ 网易原创 容器框样式*/

.main {
    margin-top: .8rem;
}

.cutting-line {
    border: 1px solid rgb(233, 222, 215);
    border-width: 1px 0 1px 0;
    margin-bottom: 1rem;
    background: rgb(255, 255, 255);
}

/*彩市头条标题 \\ 网易独家标题  \\ 网易原创标题*/

.market-headline h2 {
    padding: 0 .6rem;
    margin: .8rem 0;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

.market-headline h2:before {
    display: inline-block;
    content: '';
    width: .5rem;
    height: 100%;
    float: left;
    margin-right: .4rem;
    background: rgb(209, 99, 114);
    ;
}

.market-headline .more {
    display: block;
    float: right;
    width: 30%;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: right;
    color: rgb(151, 151, 151);
}

.market-headline .arrow {
    position: relative;
    top: -0.1rem;
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border: 0.14rem solid rgb(151, 151, 151);
    border-width: 0 0.14rem 0.14rem 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*新闻条目*/

.newsBox .newsItem {
    border-bottom: rgb(255, 255, 255) solid 1px;
    font-size: 1.33rem;
    color: rgb(130, 130, 129);
}

.newsItem .newslink {
    display: flex;
    position: relative;
    color: rgb(130, 130, 129);
    ;
    text-decoration: none;
}

.newslink:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\20 ";
    clear: both;
    height: 0;
}

.newslink-span-first {
    flex: none;
}

.newslink-span-first img {
    width: 7.75rem;
    height: 6rem;
}

.newslink-span-second>h3 {
    padding-left: 0.5rem;
    line-height: 2.5rem;
    font-size: 1.7rem;
    font-weight: 500;
    white-space: nowrap;
    /*不换行*/
    text-overflow: ellipsis;
    /*文本溢出*号显示*/
    color: rgb(0, 0, 0);
}

.newslink-span-second>p {
    font-size: 1.4rem;
    color: rgb(130, 130, 129);
    line-height: 1.6rem;
    max-height: 3rem;
    letter-spacing: 1px;
}

.Pleft {
    padding-left: 0.5rem;
}

.newslink-span-second>.time {
    position: absolute;
    bottom: 0.7rem;
    right: 1.5rem;
    font-size: 1rem;
    line-height: 1;
    color: rgb(102, 102, 102);
    padding: 2px 4px;
}

.newslink-span-second>.generalize {
    position: absolute;
    bottom: 0.7rem;
    right: 1.5rem;
    font-size: 1rem;
    line-height: 1;
    color: rgb(29, 153, 217);
    padding: 2px 4px;
    border: 1px solid rgb(29, 153, 217);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.na-commonality {
    padding: 1rem;
}

/*网易独家-滚动导航 \\ 网易原创-滚动导航 \\ 网易专家-滚动导航*/

.exclusive-content li {
    width: 30% !important;
    text-align: center;
}

.exclusive-content a {
    display: block;
}

.exclusive-content .exclusive img {
    position: relative;
    left: 50%;
    display: block;
    height: 10.6rem;
    width: 8rem;
    margin-left: -4rem;
}

.exclusive-content span {
    font-size: 1.7rem;
    text-align: center;
    color: rgb(145, 145, 145)
}

/*网易原创图 \\ 网易专家图*/

.original-content .exclusive img {
    left: 0;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    border-radius: 2.1rem;
}

/*尾部-有可能会公用*/

.footer-friendlink {
    background-color: rgb(204, 204, 204);
}

.footer-friendlink ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 0.5rem 0.5rem 1rem;
}

.footer-friendlink li {
    flex: 20%;
    margin: 5px 0 5px 0;
}

.footer-friendlink li a {
    display: block;
    margin: 0 0.5rem;
    line-height: 2rem;
    font-size: 1.4rem;
    color: rgb(116, 116, 116);
}

.footer-friendlink .copye {
    padding-bottom: 1rem;
    line-height: 1.5em;
    text-align: center;
    font-size: 0.875rem;
    color: rgb(116, 116, 116);
}

/*返回顶部按钮-有可能会公用*/

.goTop {
    display: none;
    position: fixed;
    bottom: 3.25rem;
    right: 1.46rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
    background: rgb(130, 130, 130);
    text-align: center;
    cursor: pointer;
    z-index: 11;
}

.goTop i {
    position: absolute;
    top: 1.2rem;
    left: .9rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 0.166rem solid #fff;
    border-width: 0.166rem 0 0 0.166rem;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (min-width: 800px) {
    html,
    body,
    button,
    input,
    select,
    textarea {
        font-size: 1.33rem;
    }
    /*尾部链接*/
    .footer-friendlink li {
        flex: 10%;
    }
    .footer-friendlink li a {
        font-size: 1rem;
    }
}
